.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-container span {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
}
.right-container{
    display: flex;
    gap: 30px;
    align-items: center;
    min-width: 300px;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 15px;
  height: 30px;
  /* width: 180px; */
  /* border: 1px solid #858585; */
  border-radius: 10px;
}
.search-container input {
  width: 120px;
  height: 30px;
  border: none;
  width: calc(180px - 12px);
}
.search-container input:focus {
  border: none;
  outline: none;
}
.search-container img{
    height: 12px;
    width: 12px;
}
