.chart{
    padding: 30px 40px;
    max-height: 50vh;
    min-width: 400px;
    min-height: 30vh;
    background-color: white;
    border-radius: 20px;
}
.pie-chart-container{
    display: flex;
    align-items: center;
    justify-self: space-between;
    width: 100%;
}
.legend-item{
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
    flex:1;
}
.legend-color{
    margin-top: 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.legend-percentage{
    font-size: 12px;
    color: #858585
}