.dashboard-page{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px;
    height: calc(100vh - 84px);
    width: calc(100vw - 84px);
    background-color: #f5f5f5;
    border: 2.9px solid red
}